* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    color: #333;
    line-height: 1.5;
    height: 100vh;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    /*background: linear-gradient(to top left, rgb(122, 23, 253), #80f7ff);*/
    position: relative;
}

.title {
    font-size: 5rem;
    color: aliceblue;
}

.start-button {
    background-color: #1a2a4b;
    font-size: 3rem;
    letter-spacing: 2rem;
    font-weight: bold;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    transition: 0.5s all;
}

.start-button:hover {
    background-color: aliceblue;
    color: #1a2a4b;
}

.category-button {
    background-color: #1a2a4b;
    font-size: 3rem;
    /*letter-spacing: 2rem;*/
    font-weight: bold;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    transition: 0.5s all;
    width: 30%;
    height: fit-content;
}

.category-button:hover {
    background-color: aliceblue;
    color: #1a2a4b;
}

.questions__header {
    font-size: 8rem;
    color: aliceblue;
    text-decoration: underline overline;
    text-transform: capitalize;
}

.question__container {
    position: relative;
    border-left: 1rem solid transparent;
}

.flex-80 {
    flex: 0.8;
}

.flex-20 {
    flex: 0.2;
}

.question__header {
    font-size: 2.8rem;
    color: darkseagreen;
}

.question__body {
    font-size: 1rem;
    color: #fff;
}

.question--options {
    list-style-type: upper-alpha;
    letter-spacing: 0.1rem;
}

.question-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    font-size: 20rem;
    color: #1a2a4b;
    cursor: pointer;
    transition: 0.3s all;
    opacity: 100%;
    user-select: none;
    z-index: 22;
}

.question-cover:hover {
    color: #d53369;
}

.question-score {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.question-cover__hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    font-size: 20rem;
    color: #1a2a4b;
    cursor: pointer;
    transition: 0.3s all;
    border-radius: 1rem;
    opacity: 0;
    user-select: none;
}

.answer-cover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    font-size: 8rem;
    color: #1a2a4b;
    cursor: pointer;
    transition: 0.3s all;
    opacity: 100%;
    user-select: none;
}

.answer-cover__hidden {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    font-size: 8rem;
    color: #1a2a4b;
    cursor: pointer;
    transition: 0.3s all;
    opacity: 0;
    user-select: none;
}