* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    color: #333;
    line-height: 1.5;
    height: 100vh;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    /*background: linear-gradient(to top left, rgb(122, 23, 253), #80f7ff);*/
    position: relative;
}

.title {
    font-size: 5rem;
    color: aliceblue;
}

.button {
    background-color: #1a2a4b;
    font-size: 3rem;
    letter-spacing: 2rem;
    font-weight: bold;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    transition: 0.3s all;
}

.button:hover {
    background-color: aliceblue;
    color: #1a2a4b;
}

.question {
    border-left: 1rem solid aliceblue;
}

.question__header {
    font-size: 2rem;
    color: darkseagreen;
}